ion-menu-button {
  --border-radius: 4px;
  --color: #6707BA;
  --color-focused: #460a7a;
  --color-hover: #370563;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}
