<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En mi vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">En mi vida</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <h2>Esta Pelicula es importante en mi vida...</h2>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/1316346.jpeg" alt="">
  </ion-item>
  <ion-item>
    <p>Esta pelicula es importante en mi vida porque es la primera pelicula de marvel que vi (Guardianes de la galaxia vol.1) y me paracio muy interesante, mi personaje favorito es rocket porque me gusta su personalidad y tambien el padre adoptivo de star-lord que tenia un poder muy peculiar que era controlar una arma con su cilvido aunque lamentablemente murio en la segunda pelicula.</p>
  </ion-item>
</ion-content>
