<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <img src="../../assets/img/1316346.jpeg" alt="">
  </ion-item>
  <ion-item>
    <h2>Guardianes de la Galaxia Vol.3</h2>
  </ion-item>
  <ion-item>
    <h2>Descripcion:</h2>
  </ion-item>
  <ion-item>
    <p>El equipo de guardianes de la galaxia se está acostumbrando a vivir en Knowhere, pero no pasa demasiado tiempo antes de que sus vidas se vean alteradas por los ecos del turbulento pasado de Rocket. Peter Quill, que sigue conmocionado por la pérdida de Gamora, debe reunir a su equipo y emprender una peligrosa misión para salvar la vida de Rocket -una misión que, si fracasa, podría suponer el fin de los Guardianes tal y como los conocemos.</p>
  </ion-item>
  <ion-item>
    <h2>Creador:</h2>
  </ion-item>
  <ion-item>
    <img height="300px" src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQb3XGZpDFl58S0KZ4H7jfRZJBH13x560xIuwMLi5kLd2Pbn5Lwz-1ZsNjufHidlM9Mv2eP1urUnYfq3yw" alt="">
  </ion-item>
  <ion-item>
    <p> (San Luis, Misuri; 5 de agosto de 1966) es un director, guionista y productor de cine estadounidense.​Es conocido por grandes éxitos como Super (2010), la adaptación cinematográfica del cómic de Marvel Guardianes de la Galaxia (2014),y sus secuelas Guardianes de la Galaxia vol. 2 (2017) y Guardianes de la Galaxia vol. 3 (2023), así como la segunda adaptación cinematográfica del cómic de DC Comics The Suicide Squad (2021). Como escritor ha trabajado en los guiones de Tromeo y Julieta (1996), Scooby-Doo (2002) y su secuela, Scooby-Doo 2: Monsters Unleashed (2004), y la versión Dawn of the Dead (2004). Es el hermano mayor del actor Sean Gunn. Actualmente es el copresidente y codirector ejecutivo de DC Studios.</p>
  </ion-item>
  <ion-item>
    <h2>Numero de peliculas:</h2>
  </ion-item>
  <ion-item>
    <h2>Guardianes de la galaxia vol.1</h2>
  </ion-item>
  <ion-item>
    <h2>Guardianes de la galaxia vol.2</h2>
  </ion-item>
  <ion-item>
    <h2>Guardianes de la galaxia vol.3</h2>
  </ion-item>
</ion-content>
